<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Detalle de la alumna</h1>
    <main>
      <h2>Nombre: <%= student.nombre %></h2>
      <p>Apellido:<%= student.apellidos%></p>
      <p>Edad: <%= student.edad %></p>
      <p>Email: <%= student.correo_electronico%></p>
    </main>
  </body>
</html>
